:root {
  --page-header-bgColor: #242e42;
  --page-header-bgColor-hover: #1d2636;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #7889a4;
  --page-header-width: 220px;
  --page-content-bgColor: #ffffff;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
	position:fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 30px;
}

/* Container for flexboxes */
section {
	padding-top:65px;
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
.nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; 
  background: #2f323a;
  padding-top: 30px;
  left: 0;
  float:left;
  width: 25%;
  height: auto;
  transition: 0.5s;
  transition-property: left;
}

.nav a{
	color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.nav a:hover{
  background: #19B3D3;
}

.nav .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}
.nav h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 15px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

/* Style the list inside the menu */
.nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #2f323a;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  border-radius: 1px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.btn:hover{
  background: #0B87A6;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

#check:checked ~ .nav{
  left: -190px;
}

#check:checked ~ .nav a span{
  display: none;
}

#check:checked ~ .nav a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}
#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}

.a{
	text-decoration:none;
}

.a:hover{
	
	text-decoration:none;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.btn-hapus {
	border: 1px solid #801515;       
	background-color: #801515;        
	color: #FFFFFF;                  
	font-size: 13px;                  
	padding: 0.5em 1em 0.5em 1em;  
	text-decoration:none;
}
.btn-hapus:hover {
	opacity: 0.9;                     /* ubah tingkat transparansi saat cursor menuju button. 0.0 s.d 1.0 */
}

.btn-edit{
	border: 1px solid #0bf;       
	background-color: #19B3D3;        
	color: #FFFFFF;                  
	font-size: 13px;                  
	padding: 0.5em 1em 0.5em 1em;  
	text-decoration:none;
	
}
.btn-edit:hover{
	opacity: 0.7;
	
}

/* Style Tabel */
.table-striping {
	width: 100%;
	border-collapse: collapse;
}

.table-striping th {
	background: #8CAAD4;
	color: #FFFFFF;
	padding: 1em;
	text-align: left;
	text-transform: uppercase;
}

.table-striping td {
	border-bottom: 1px solid #ddd;
	padding: 1em;
}

/* EVEN */

.table-striping tr:nth-child(even) {
	background: #F5F5F5;
}

/* ODD */

.table-striping tr:nth-child(odd) {
	background: #D5DDE8;
}



